
        body {
            background: #f0f2f5;
        }
        header {
            background:rgb(119, 121, 122);
            color: white;
            padding: 1rem 0;
            margin-bottom: 30px;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
        header h1 {
            margin: 0;
        }
        .filter-btns .btn {
            margin: 0 5px 10px 0;
        }
        .card:hover {
            box-shadow: 0 0 15px rgba(170, 171, 172, 0.5);
            transform: translateY(-5px);
            transition: 0.3s ease;
        }
        .badge-available {
            background-color:rgb(0, 0, 0);
            font-weight: 600;
        }
        .badge-unavailable {
            background-color:rgb(97, 79, 79);
            font-weight: 600;
        }
        .logout-btn {
            position: absolute;
            right: 20px;
            top: 15px;
        }